<h1>Employees</h1>


  <div id="employees">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Manager</th>
        </tr>
      </thead>
      <tbody>
        <employee-row
          v-for="(employee, index) in employees"
          :key="employee.id"
          :employee="employee"
          v-on:fire-employee="fireEmployee">
        </employee-row>
        <new-employee
          :key="new_employee"
          :employee="new_employee"
          :errors="errors"
          v-on:hire-employee="hireEmployee">
        </new-employee>
      </tbody>
    </table>
    <md-tabs md-fixed>
      <md-tab id="employee_section" md-label="Employees">
        <p>Intégration de composant test materialize</p>
      </md-tab>

      <md-tab id="jobs_section" md-label="Jobs">
        <p>Smelly cat</p>
      </md-tab>
    </md-tabs>
  </div>


<!-- HTML Vue Component Templates -->
<%= render 'components/employee-row' %>
<%= render 'components/new-employee' %>


