<template id="employee-row">
  <tr>
    <td>
      <!-- Show input when in edit mode -->
      <div v-if="editMode">
        <input type="text" v-model="employee.name"><br>
        <span style="color:red">{{ errors.name }}</span>
      </div>
      <div v-else>{{ employee.name }}</div>
    </td>
    <td>
      <div v-if="editMode">
        <input type="text" v-model="employee.email"><br>
        <span style="color:red">{{ errors.email }}</span>
      </div>
      <div v-else>{{ employee.email }}</div>
    </td>
    <td>
      <div v-if="editMode">
        <input type="checkbox" v-model="employee.manager">
      </div>
      <div v-else>{{ employee.manager ? '&#10004;' : '' }}</div>
    </td>
    <td>
      <job-desc
        v-for="(job, index) in employee.jobs"
        :key="job.id"
        :job="job">
        </job-desc>
    </td>
    <td>
      <!-- Save button calls updateEmployee -->
      <button v-if="editMode" v-on:click="updateEmployee">Save</button>
      <!-- Edit button puts row into edit mode -->
      <button v-else v-on:click="editMode = true">Edit</button>
      <!-- Promote / Demote based on current status -->
      <button v-if="!editMode" v-on:click="toggleManagerStatus">{{ employee.manager ? 'Demote' : 'Promote' }}</button>
      <button v-if="!editMode" v-on:click="fireEmployee" style="color:red">Fire</button>
    </td>
  </tr>
</template>

<!-- Components templates -->
<%= render 'templates/job_desc' %>
