<div id="campaign_management">
  <campaign-goals
    :campaign="campaign"
  >
  </campaign-goals>
  <span>{{ campaign.id }} - {{ campaign.reach }}</span>
</div>

<!-- Components templates -->
<%= render 'templates/campaign_goals' %>

<!-- Components js -->
<% content_for(:after_js) do %>
  <%= javascript_pack_tag 'campaign_management' %>
<% end %>
