<div id="campaign_management">
  <campaign-goals
    :key="campaign.id"
    :campaign="campaign">
  </campaign-goals>
  <router-link to="/selector">INFLUENCER SELECTOR</router-link>
  <router-link to="/listing">LISTE INFLUENCERS</router-link>
  <router-view></router-view>


</div>

<template id="campaign-goals">
  <div>
    <p>Campaign Objectives</p>
    <p>{{ campaign.reach }}</p>
  </div>
</template>
